<h1>Cart</h1>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Qty</th>
        <th scope="col">Total</th>
        <th scope="col">Action</th>
    </tr>
    </thead>

    <tbody>
    {% for product in cart %}
        <tr>
            <th scope="row">{{ product.id }}</th>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.price * product.quantity }}</td>
            <td>
                <form action="/cart/delete" method="post">
                    <input type="text" name="id" value="{{ product.id }}" hidden>
                    <input type="submit" value="delete">
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
